* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html { 
    overflow-y: hidden; 
}

body { 
    color: #111;
    background-color: #a912b3;
}   

.hidden {
    display: none;
}

.half {
    height: 50vh;
}

.info-box--title {
    margin: auto;
}

.info-box {
    height: 100vh;
    text-align: center;
    border: 1px solid #690f6f;
    border-top: none;
}

.l-box.middle {
    margin: auto;
}

.text-box-head {
    color: #fff;
    padding-bottom: 0.2em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 70px;
}

.text-box-subhead {
    font-weight: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.info-box-data-container {
    margin: 10px auto;
}

.animated {
    background: #3EFF67;
    -webkit-animation: pulse 5s ease-out running;
    -moz-animation:    pulse 5s ease-out running;
    -o-animation:      pulse 5s ease-out running;
    animation:         pulse 5s ease-out running;
}


@-webkit-keyframes pulse {
      100% {
        background-color: #3EFF67;
      }
}

@-moz-keyframes pulse {
      100% {
        background-color: #3EFF67;
      }
}

@-o-keyframes pulse {
      100% {
        background-color: #3EFF67;
      }
}

@keyframes pulse {
      100% {
        background-color: #3EFF67;
      }
}

.text-box-number {
    margin-top: 20px;
    font-size: 400px;
    color: #fff;
}

.serve-table {
    color: #111;
    border: none;
    margin: 0 auto;

}

.serve-table th, .serve-table td {
    font-size: 100px;
    font-weight: bold;
    padding: 37px 55px;
}
.serve-table th {
    color:#fff;
    border-left: 2px solid #690f6f;
    border-width: 0 0 0 2px;
}

.serve-table td {
    color: white;
    border-left: 2px solid #690f6f;
    border-width: 0 0 0 2px;
}

.serve-table .serve-table-head {
    background: none;
}



